.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#", class: "icon__btn" do
          %i{class:"far fa-edit"}
        = link_to "#", class: "icon__btn" do
          %i{class:"fas fa-cog"}
  .side-bar__group-list
    .list-items
      .list-items__name
        %b techcamp
      .list-items__message
        %b まだメッセージがありません
    
    .list-items
      .list-items__name
        %b techcamp
      .list-items__message
        %b まだメッセージがありません
    
    .list-items
      .list-items__name
        %b techcamp
      .list-items__message
        %b まだメッセージがありません

    .list-items
      .list-items__name
        %b techcamp
      .list-items__message
        %b まだメッセージがありません